body {
	font-family: arial;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.myheader {
	height: 140px;
	position: relative;
}

#quick_search {
	position: relative;
	display: inline-block;
	margin-left: 11px;
	width: 540px;
	height: 34px;
	border: 1px solid #b6b6b6;
	margin-top: 11px;
}

#fm {
	width: 494px;
	height: 22px;
	outline-style: none;
	border: 0px;
	margin: 6px 0px 0px 7px;
}

#camera {
	position: absolute;
	right: 11px;
	margin-top: -8px;
	top: 50%;
	display: inline-block;
	width: 18px;
	height: 16px;
	background: url(../picture/camera.png) no-repeat;
	background-position: 0px 0px;
	background-size: 18px 36px;
}

#camera:hover {
	background-position: 0px -20px;
}

.c_icon {
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url(../picture/icons.png) no-repeat;
	background-position: -408px -144px;
	vertical-align: bottom;
}

#btn_link {
	display: inline-block;
	width: 100px;
	height: 34px;
}


#btn {
	width: 100px;
	height: 37px;
	margin-top:11px;
	outline-style: none;
	border: none;
	background: #3385ff;
	color: #fff;
	border-bottom: 1px solid #2d78f4;
}

#btn:hover {
	box-shadow: 1px 1px 1px #ccc;
}

#user_daohang {
	position: absolute;
	width: 225px;
	height: 16px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	font-size: 12px;
	margin: 21px 9px 5px 0;
	float: right;

}

.user_link {
	margin:0 7px;
	color: #333;
	text-decoration: underline;
	display: inline-block;
	overflow: hidden;
	height: 129px;
}

.myheader_top {
	height: 55px;
	background: #fff;
	padding-left: 10px;
	position: relative;
}

#hid_item1 {
	position: absolute;
	top: 24px;
	right: 66px;
	width: 70px;
	height: 104px;
	border: 1px solid #d1d1d1;
	text-align: center;
	display: none;
	float: left;
	background: #fff;
}

.conner_icon {
	background: url(../picture/icons.png) no-repeat;
	background-position: -456px -148px;
	position: absolute;
	top: -6px;
	right: 31px;
	width: 13px;
	height: 6px;
}

 #user_daohang .link_li {
	display: block;
	width: 70px;
	height: 26px;
	font-size: 11px;
	line-height: 26px;
	color: #333;
	text-decoration: none;
}

 #user_daohang  .link_li:hover{
	background: #3388ff;
	color: #fff;
}


#hid_item2 {
	position: absolute;
	top: 24px;
	right: 0px;
	width: 68px;
	height: 130px;
	border: 1px solid #d1d1d1;
	display: none;
	text-align: center;
	background: #fff;
}

#hid_item2 .link_li {
	display: block;
	width: 68px;
	height: 26px;
	font-size: 11px;
	line-height: 26px;
	color: #333;
	text-decoration: none;
}
.myheader_top img {
	width: 100px;
	height: 32px;
}

#logo {
	float: left;
	width: 100px;
	height: 32px;
	margin-top: 7px;
}
#myheader_item {
	padding-left: 120px;
	height: 38px;
	background: #f8f8f8;
}

#first_item {
	font-weight: bold;
	border-bottom: 2px solid #3388ff;
}

#myheader_item li {
	float: left;
	width: 54px;
	height: 36px;
	line-height: 36px;
	font-size: 14px;
	text-align: center;
}
#myheader_item li :hover {
	color: #333;
}

#myheader_item a {
	color: #666;
}
.header_botom {
	padding-left: 120px;
	height: 42px;
	background: #fff;
	width: 1000px;
	position:relative;
	overflow: hidden;
}

#result_nums {
	width: 538px;
	height: 42px;
	margin-bottom:2px; 
	color: #666;
	font-size: 12px;
	line-height: 42px;
	text-align: left;
}

#message {
	position: absolute;
	top: 0px;
	overflow: hidden;
}
#tools {
	width: 538px;
	height: 42px;
	margin-bottom: 2px;
	color: #666;
	font-size: 12px;
	line-height: 42px;
	text-align: left;
}

#icon_1 {
	float: right;
	position: relative;
	cursor: pointer;
}

#icon_2 {
	float: right;
	position: relative;
	cursor: pointer;
}

.result_tool {
	display: inline-block;
	cursor: pointer;
}
.search_tool1 {
    display: inline-block;
    position: absolute;
    width: 14px;
    height: 14px;
    vertical-align: text-bottom;
    overflow: hidden;
    background: url(../picture/icons.png) no-repeat;
    background-position: -864px -144px;
    right: 48px;
    top: 14px;
}

.search_tool2 {
    display: inline-block;
    position: absolute;
    width: 14px;
    height: 14px;
    vertical-align: text-bottom;
    overflow: hidden;
    background: url(../picture/icons.png) no-repeat;
    background-position: -912px -144px;
    right: 48px;
    top: 14px;
}


.triangle {
	display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: text-bottom;
    font-style: normal;
    overflow: hidden;
    background: url(../picture/icons.png) no-repeat;
    background-position: -408px -144px;
    margin-right: 23px;

    }




/*#side {
	background: #fff;
}
#result {
	background: #fff;
}
*/

#my_side {
	display: inline-block;
	background: #fff;
	width: 363px;
	overflow: hidden;
	border-left: 1px solid #e1e1e1;
	padding-left: 17px;
	padding-top: 45px;
}

.side_item {
	font-size: 14px;
    line-height: 1.29;
    font-weight: 700
}

.data {
	color: #333333;
	font-size: 13px;
	line-height: 1.54;
}

.side_all {
	overflow: hidden;
	position: relative;
}

#more_link {
	font-size: 13px;
	line-height: 1.54;
	text-decoration: underline;
	color: #0000cc;
}

.showpic {
	margin-top: 10px;
	height: 120px;
	display: none;
}
.tle {
	float: left;
	font-size: 14px;
	line-height: 1.29;
	font-weight: 700;
}

#moer_pic ,#moer_pic2 , #moer_pic3{
	float: right;
	font-size: 13px;
	font-weight: 400px;
	text-decoration: underline;
}


.icon ,.icon2 , .icon3{
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url(../picture/icons.png) no-repeat;
	background-position: -72px -168px;
	margin-left: 6px;
	margin-right: 11px;
	vertical-align: bottom;
}
.ph_item {
	width: 363px;
	margin-bottom: 28px;
	float: left;
}

.ph_item div {
	width: 75px;
	margin-right: 17px;
	height: 140px;
	float: left;
	margin-top: 20px;
	text-align: center;
}
.ph_item .kk{
		margin-top: 10px;
}

#tle_link {

	text-decoration: underline;
	color: #0000cc;
	font-size: 13px;
}

.trans {
	display: inline-block;
	font-size: 12px;
	color: #999999;
	margin-top: 3px;
	width: 75px;

}

.about_language {
	float: left;
	width: 363px;
	height: 159px;
	text-align: center;
}
.about_language div {
	width: 75px;
	height: 159px;
	margin-right: 17px;
	float: left;
	margin-top: 10px;
}

#sugestions {
	font-size: 10px;
	text-decoration: underline;
	float:  right;
	color: #666;
	line-height: 18px;
	margin-top: 35px;
}

#last_item {
	margin-right: 0px;
}
#more_search {
	padding-left: 120px;
	height: 104px;
	width: 600px;
	position-bottom: 0px;
	margin-top: 6px;
}

#more_search table {
	width: 540px;
	font-size: 14px;
	font-weight: 400;
	text-align: left;
	text-decoration: underline;
	line-height: 22px;
}

#more_search a {
	color: #0000cc;
} 

.tt {
	font-size: 16px;
	font-weight: 700;
	line-height: 30px;

}
#pages {
	margin: 30px 0px 40px 0px;
	padding-left: 120px;
	width: 600px;
	height: 66px;
}
#pages div {
	height: 66px;
	position: relative;
}

.numbers:hover {
	border: 1px solid #0000cc;
	background: #f2f8ff;
}

.page_item {
	display: inline-block;
	height: 66px;
	text-align: center;
	text-decoration: none;
	overflow: hidden;
	margin-right: 9px;
}
.foot_icon {
	display: inline-block;
	position: relative;
	top: -2px;
	width: 24px;
	height: 24px;
	margin-left: 6px;
	background: url(../picture/icons.png) no-repeat;
	background-position: -96px -288px;
}
.numbers {
	display: block;
	border: 1px solid #e1e2e3;
    width: 34px;
    height: 34px;
    line-height: 36px;
    color: #0000cc;
}

.numbers1 {
	display: block;
	border: 0;
    width: 34px;
    height: 34px;
    line-height: 36px;
    color: #0000cc;
}

.foot_icon1 {
	display: inline-block;
	position: relative;
	top: 3px;
	width: 24px;
	height: 24px;
	margin-left: 6px;
	background: url(../picture/icons.png) no-repeat;
	background-position: -144px -288px;
}
.foot_icon2 {
	display: inline-block;
	position: relative;
	top: -3px;
	width: 24px;
	height: 24px;
	margin-left: 6px;
	background: url(../picture/icons.png) no-repeat;
	background-position: -144px -288px;
}

#next_page {
	display: inline-block;
	border: 1px solid #e1e2e3;
	height: 34px;
	padding:0px 18px;
	line-height: 34px;
	text-align: center;
	margin-right: 9px;
	color: #0000cc;
	position: absolute;
	top: 28px;
}
#next_page:hover{
	border: 1px solid #0000cc;
	background: #f2f8ff;
}